.portfolio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 120px 0;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0;
}
.portfolio-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    max-width: 1158px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    row-gap: 48px;
    column-gap: 24px;
    max-width: 1158px;
    margin: 0;
}
.portfolio-list-item{
    margin: 0;
    padding: 0;
    max-width: 360px;
}
.portfolio .text-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    max-width: 360px;
}
.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}